{% extends 'base.html' %}

{% block content %}
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form class="space-y-6" method="POST">
      {% csrf_token %}
      <h5 class="text-xl font-medium text-gray-900 dark:text-white">
        Create a Cookie Stand
      </h5>
      <div>
        <label for="id_location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
        <input
          type="text"
          name="location"
          id="id_location"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          placeholder="e.g. Seattle"
          required
        />
      </div>
      <div>
        <label for="id_description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
        <textarea
          name="description"
          id="id_description"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          placeholder="Enter a description"
          rows="4"
        ></textarea>
      </div>
      <div>
        <label for="id_hourly_sales" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hourly Sales</label>
        <input
          type="text"
          name="hourly_sales"
          id="id_hourly_sales"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          placeholder="Enter hourly sales data"
        />
      </div>
      <div>
        <label for="id_minimum_customers_per_hour" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Minimum Customers per Hour</label>
        <input
          type="number"
          name="minimum_customers_per_hour"
          id="id_minimum_customers_per_hour"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          value="0"
          min="0"
        />
      </div>
      <div>
        <label for="id_maximum_customers_per_hour" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Maximum Customers per Hour</label>
        <input
          type="number"
          name="maximum_customers_per_hour"
          id="id_maximum_customers_per_hour"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          value="0"
          min="0"
        />
      </div>
      <div>
        <label for="id_average_cookie_per_sale" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Average Cookies per Sale</label>
        <input
          type="number"
          name="average_cookie_per_sale"
          id="id_average_cookie_per_sale"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          value="0"
          step="0.01"
          min="0"
        />
      </div>
      <div>
        <label for="id_owner" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Owner</label>
        <select name="owner" id="id_owner">
          {% for value, choice in form.fields.owner.choices %}
            <option value="{{ value }}">{{  choice }}</option>
          {% endfor %}
        </select>
      </div>
      <button
        type="submit"
        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Create
      </button>
    </form>
  </div>
{% endblock %}
